h2 {
    font-style: italic;
    font-size: 18px;
    color: rgb(15, 15, 15);

}
h5 {
    font-style: italic;
    color: rgb(12, 12, 12);
    font-size: calc(10px + 2vmin);
}
#BodyBG{
    background-color: rgb(223, 98, 98);
    display: flex;
    flex-direction: column;
}