p1{
    coler:rgb(121, 15, 15);
    font-size: 3vw;
    text-align: center;
    font-style: oblique;

}
p {
    coler:rgba(61, 12, 126, 0.5);
    font-size:4vw;
    text-aligh: center;
}
p
{
    coler:rgb(167, 22, 89);
    font-size:3vw;
}