้้A1{
	color: rgb(131, 10, 10);
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
p{
    color: darkblue;
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

