body{background-color: rgb(43, 159, 226);}
.Sunday{color: rgb(156, 151, 72);}
.Monday{color: rgb(214, 127, 170);}
.Tuesday{color: rgb(224, 184, 131);}
.Wednesday{color: rgb(175, 33, 92);}
.Friday{color: rgb(92, 116, 223);}
.Saturday{color: cornflowerblue;}
table{background-color: rgb(202, 74, 185);
border-color: rgb(4, 8, 48);}